*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
/*DEFINIR CONTENEDORES*/
.fluid {
    margin: 0;
    max-width: 100%;
  }
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
.pdlados-40{
    padding: 0px 40px;
}
.mgTop-20{
    margin-top: 20px;
}

