*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

$col: 1%;

@for $var from 1 to 12 {
    .col-#{$var}{
        width: $var*10*$col;
    }
}