*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
}

a{
    cursor: pointer;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
li{
    list-style: none;
}
/*DEFINIR CONTENEDORES*/
.fluid {
    margin: 0;
    max-width: 100%;
  }
.container{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    display: flex;
}
@media screen and (max-width: 768px) {
    footer .container{
        display: block;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

.grid{
    display: grid;
}
.block{
    display: block;
}
.pdlados-40{
    padding: 0px 40px;
}
.mgTop-20{
    margin-top: 20px;
}
.mgTop-50{
    margin-top: 50px;
}
/*COMOBOBOX*/
select {
    position: relative;
    background: #fff;
    background-image: none;
    display: block;
    width: 100%;
    outline: none;
    color: #888888;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-top: 1.4em;
    padding-bottom: 1.3em;
    text-indent: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 15px 0 10px;
}
.container-block{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}