article{
    padding-left: 15px;
    padding-right: 15px;
}
    .paragraph{
        margin: 10px auto;
        line-height: 1.6;
        text-align: center;
        color: #797979;
        width: 100%;
    }
.space-andean{
    margin-top: $mgTop-20+10;
}
    .team-andean{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 85%;
        margin: 15px auto;
    }
    .team-name{
        font-family: 'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
        text-transform: uppercase;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 3px;
        line-height: 1.273;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
    }
    .team-name:after {
        max-width: 200px;
        height: 2px;
        display: block;
        background-color: #fc0;
        margin: 15px auto 20px;
        content: "";
        width: 50%;
    }
    .icons-presentation-andean{
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        .col-md-3{
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 120px;
            text-align: center;
            position: relative;
            article{
                position: absolute;
                bottom: 10px;
                z-index: 2;
                background-color: #fff;
                left: 0;
                &:hover .paragraph{
                    max-height: 500px;
                }
                .paragraph{
                    line-height: 1.6;
                    max-height: 45px;
                    overflow-y: hidden;
                    -webkit-transition: all 1.5s linear;
                    -moz-transition: all 1.5s linear;
                    -o-transition: all 1.5s linear;
                    -ms-transition: all 1.5s linear;
                    transition: all 1.5s linear;
                }
            }
                
        }
            
    }
.map-home{
    width: 100%;
    position: $pRel;
    img{
        width: 100%;
    }
    .slider-map{
        width: 30%;
        height: 70%;
        min-height: 550px;
        position: absolute;
        top: 42px;
        left: 5%;
        z-index: 4;
        background-color: #fff;
        .item
            article{
                text-align: center;
                width: 100%;
                h3{
                    font-size: 21px;
                    text-transform: uppercase;
                    color: $backgroundNav;
                    a{
                        color: $backgroundNav;
                        &:hover{
                            color: $backgroundPrincipal;
                        }
                    }
                }
                h4{
                    font-size: 26px;
                    font-weight: 100;
                }
            }
            a{
                text-align: center;
                display: block;
                transition: .3s;
                &:hover{
                    color: #fc0;;
                }
            }
            .discover-more{
                font-size: 14px;
                margin-top: 30px;
                color: #000;
            }
            .discover-more:after {
                max-width: 100px;
                height: 1px;
                display: block;
                background-color: #fc0;
                margin: 15px auto 20px;
                content: "";
                width: 90%;
            }
        .nav-arrows{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: absolute;
            height: 40px;
            z-index: 2;
            bottom: 10px;
            color: #888888;
        }
            .arrow-left, .arrow-right{
                border: none;
                background: transparent;
                font-size: 28px;
                color: #888888;
            }
            .arrow-left{
                margin-left: 20%;
                margin-right: 20px;
            }
            .arrow-right{
                margin-right: 20%;
                margin-left: 20px;
            }
    }
}
.title-home{
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    position: relative;
    padding: 0 2.5rem;
}
.title-home::before {
    background-color: #0066b0;
    content: "";
    height: .0625rem;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}
.travel-styles{
    justify-content: center;
    margin-top: 2rem;
    .inner{
        margin: 0px 15px;
        width: 85%;
        position: relative;
        overflow: hidden;
        a{
            text-align: center;
            
            img{
                width: 100%;
                transition: .5s;
            }
            .visual-text{
                color: #fff;
                font-family: "brandon-grotesque",sans-serif;
                font-size: 1.0625rem;
                font-weight: bold;
                height: 100%;
                left: 0;
                letter-spacing: .06625rem;
                line-height: 1.25rem;
                padding: 0 .9375rem;
                position: absolute;
                text-shadow: rgb(0 0 0 / 50%) 0 0.0625rem 0.0625rem;
                top: 50%;
                width: 100%;
                z-index: 3;
            }
        }
    }
    .inner:hover img{
        transform: scale(1.15);
    }
}
.blog-andean .noticias > div:first-child {
    grid-column: 1 / span 2;
}
.blog-andean .noticias > div:nth-child(6n) {
    grid-column: 3 / span 2;
}
.blog-andean{
    .noticias{
    display: grid;
    grid-template-columns: 22.9% 22.9% 22.9% 22.9%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    }
    .paragraph{
        font-size: 15px;
        max-width: 510px;
        margin: 0 auto;
        margin-bottom: 60px;
        margin-top: 20px;
        text-align: center;
        display: flex;
    }
}
.noticias > div {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .texto {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: left;
        height: 170px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #090909 100%);
        color: white;
        padding: 35px 25px;
        display: grid;
        align-items: end;
        h4 {
            font-size: 14px;
            font-weight: 100;
            span {
                font-size: 20px;
                display: block;
                font-weight: 600;
                
            }
        }
    }
}