$grid-md: 768;
$grid-lg: 992;
$grid-col: 12;

$map-grid-props: ('-sm': 0, '-md': $grid-md, '-lg': $grid-lg);

@mixin create-mq($breakpoint) {
  @if($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint) {
    @for $i from 1 through $grid-cols {
      .col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid-cols / $i) ) * 1%;
      }
    }
  }
}
@each $modifier , $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid-col, $breakpoint);
  }
/*********************
RESPONSIVE BREAKPOINT
**********************/
@mixin breakpoint($point) {
  @if $point == 768 {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == another-break-point {
    @media (max-width: 0) { @content; }
  }
}