$backgroundPrincipal:rgb(255, 204, 0);
$backgroundSecundario:rgb(255, 255, 255);
$advertencias: orange;
$fontSize: 14px;
$fontTitle:'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
$fontCita: "Geograph Edit", 'GeoEditRegular','Franklin Gothic Medium','Franklin Gothic','ITC Franklin Gothic',Helvetica,Arial,sans-serif;
$fontText: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
$pdbajo: 10px 20px;
$pdmedio: 15px 30px;
$pdalto: 25px 30px;
$pdleft: 30px;