$backgroundPrincipal:rgb(255, 204, 0);
$backgroundSecundario:rgb(255, 255, 255);
$backgroundNav: #000;
$advertencias: orange;
$fontSize: 14px;
$fontSizeTitle: 36px;
$fontTitle:'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
$fontCita: "Geograph Edit", 'GeoEditRegular','Franklin Gothic Medium','Franklin Gothic','ITC Franklin Gothic',Helvetica,Arial,sans-serif;
$fontText: 'GeoEditRegular', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Helvetica, Arial, sans-serif;
$fontButtons:'GeoBrandBold', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
$fontMenu:'GeoBrandRegular', 'CenturyGothic', AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
$pdbajo: 10px 20px;
$pdmedio: 15px 30px;
$pdalto: 25px 30px;
$pdleft: 30px;
$contactFont: 13px;
$iconsM:5px;
$iconsS:15px;
$mgAltoBajo: 25px 0px;
$pRel:relative;
$pAbs:absolute;
$mgTop-20: 20px;
$link-color-menu:white;
$link-hover-menu:2px solid #fc0;
$pd-20:20px;
$link-vertical-padding:20px;      
$link-horizontal-padding:20px;    